<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" rel="stylesheet" />

	<style>
		.err {
			color: red;
		}

		.pageTitle {
			margin-top: 80px;
			margin-bottom: 50px;
			text-align: center;
		}

		.add-bottun {
			padding-left: 600px;
		}

		.back-button {
			margin-top: 10px;
		}
	</style>
</head>

<body>
	<div class="pageTitle">
		<h1>名刺登録</h1>
	</div>

	<div class="container text-center">
		<div class="row align-items-center">

			<div style="width: 60%;" class="container col-md-6 text-center">
				<form method="post" th:action="@{/create}" th:object="${businessCards}">
					<input type="hidden" th:field="*{businessCardId}">
					<div th:if="${#fields.hasErrors('global')}" th:errors="*{global}" th:errorclass="err"></div>

					<table class="table table-bordered table-striped">
						<tr>
							<th>名前</th>
							<td>
								<input type="text" name="name" th:value="*{name}" style="width: 100%;">
								<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:errorclass="err"></div>
							</td>
						</tr>
						<tr>
							<th>会社名</th>
							<td>
								<input type="text" name="company" th:value="*{company}" style="width: 100%;">
								<div th:if="${#fields.hasErrors('company')}" th:errors="*{company}" th:errorclass="err">
								</div>
							</td>
						</tr>
						<tr>
							<th>部署名</th>
							<td>
								<input type="text" name="department" th:value="*{department}" style="width: 100%;">
							</td>
						</tr>
						<tr>
							<th>役職名</th>
							<td>
								<input type="text" name="post" th:value="*{post}" style="width: 100%;">
							</td>
						</tr>
						<tr>
							<th>住所</th>
							
							
							<td>
								<input type="text" name="address" th:value="*{address}" style="width: 100%;">
							</td>
						</tr>
						<tr>
							<th>電話番号</th>
							<td>
								<input type="text" name="tel" th:value="*{tel}" style="width: 100%;">
								<div th:if="${#fields.hasErrors('tel')}" th:errors="*{tel}" th:errorclass="err"></div>
							</td>
						</tr>
						<tr>
							<th>mailアドレス</th>
							<td>
								<input type="text" name="mail" th:value="*{mail}" style="width: 100%;">
								<div th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}" th:errorclass="err"></div>
							</td>
						</tr>
						<tr>
							<th>案件名</th>
							<td>
								<input type="text" name="projectTitle" th:value="*{projectTitle}" style="width: 100%;">
								<div th:if="${#fields.hasErrors('projectTitle')}" th:errors="*{projectTitle}"
									th:errorclass="err"></div>
							</td>
						</tr>
						<tr>
							<th>備考</th>
							<td>
								<textarea type="content" name="remarks" th:value="*{remarks}"
									style="width: 100%;"></textarea>
							</td>
						</tr>
					</table>
			</div>
		</div>

		<div>
			<input type="submit" value="登録する" class="btn btn-danger rounded-pill" style="width: 150px;">
		</div>

		</form>




		<div class="back-button">
			<form th:action="@{/}" method="get">
				<input type="submit" value="戻る" class="btn btn-outline-secondary rounded-pill" style="width: 150px;">
			</form>
		</div>
	</div>




	<script th:href="@{/webjars/jquery/3.7.1/js/jquery.min.js}"></script>
	<script th:href="@{/webjars/bootstrap/5.3.2/js/bootstrap.min.js}"></script>

</body>

</html>